.mobNav {
    margin-top: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.MScontainer {
    display: flex;
}

.MSbox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #d0d0d0;
    display: flex;
    border-radius: 8px;
}