.mobNav {
    margin-top: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.MScontainer {
    display: flex;
}

.MSbox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #d0d0d0;
    display: flex;
    border-radius: 8px;
}

.navBox {
    width: 250px;
    height: 250px;
    background-color: green;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1; /* Ensure it is above other content */
}