.main {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.saleList-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
}
