.main {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.saleList-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
}

.box {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    margin-bottom:5vh;
} .box:hover {  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); border-radius: 0px; }


.box img {
    max-width: 70;
    max-height: 70%;
    filter: drop-shadow(0px 8px 10px);
}

.box button {
    padding: 8px;
    background-color: #0f0f0f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s;
}

.box button:hover {
    background-color: #000;
    padding: 8px 10px;
}

.itemName {
    text-align: center;
}